body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  position: absolute;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  left: 0;
}

.navbar-toggler{
  position: absolute;
  right: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light" sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
}

#features {
  text-align: center;
  padding: 7% 15%;
}

.feature-icon {
  font-size: 80px;
  color: #ef8172;
  padding: 20px;
}
.feature-icon:hover{
  color: #ff4c68;
}

.feature-div {
  padding-top: 150px;
}

.feature-h3{
  font-family: "Montserrat-bold" sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.feature-p {
  color: #8f8f8f;
  width: 240px;
  margin: auto;

  /* word-wrap: break-word; */
}


/* Testimonials Section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-h2 {
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
